*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.linha2{
  margin: 20px auto;
}

.sessao::after{
  content: "";
  width: 960px;
  height: 2px;
  background-color: black;
  display: block;
  margin: 10px auto;
  }

.sessao{
text-align: center;
margin: 68px 0 24px 0;
}


/* HEADER - MENU */
nav ul li{
    margin: 10px; 
}
header nav ul li a{
    font-size: 18px;
    transition: 0.2s;   
}
#colorLink:hover{
    color: #A4161A;
    align-self: center;
}
/* --------inicio----------*/



.inicio , .conteiner{
  max-width: 960px;
  background-color: #A4161A ;
  margin: 0 auto; 
  padding: 20px;
  border-radius: 18px;
  margin-bottom: 24px;
  margin-top: 48px;
}
.infoInicio{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  }
/* -------parte olá ---- */
.inicioPerfil {
	max-width: 460px;
	margin: 20px;
}
.inicioPerfil h2{
    font-size: 18px;
    color:#F5F3F4;
}
.inicioPerfil p ,.inicioPerfil address , .inicioPerfil address a {
  color: #F5F3F4;
}
.inicioPerfil p {
  font-size: 18px;
  margin-bottom: 18px;
  
}
.inicioPerfil h2 {
  font-size: 28px;
}
.infoInicio a{
  font-size: 18px;
  margin: 5px;
}
.linha{
  background-color: #F5F3F4;
  width: 100%;
  height: 1px;
  margin: 20px 0;
}

/* ------CARD PERFIL-------- */

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 220px;
  
  text-align: center;
  font-family: arial;
  font-size:12px
}
.card h1 {
  font-size: 24px;
  color: #A4161A;
}

.title {
  color: #000;
  font-size: 18px;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.infoInicio button a {
  text-decoration: none;
  font-size: 12px;
  color: white;
}

button:hover, a:hover {
  opacity: 0.7;
}
/* Esperiencias e INteresses */



.sobre_geral {
  display: flex;
  max-width: 960px;
  margin: 0 auto;
  justify-content: space-around;
}

.sobre_geral div{
  max-width: 390px;
  font-size: 14px;
  color:#F5F3F4;
}

